$primary:#c69963;
$primary_dark:#b28451;
$secondary:#101d2c;
$grey_light_1:#f9f7f6;
$grey_light_2:#aaa;
$grey_dark_1:#54483A;
$grey_dark_2:#6d5d48;

$font_primary:'Nunito',sans-serif;
$font_display:'Josefin Sans', sans-serif;

//Media queries Variable
$bp-lg:75em; //1200px/16
$bp-lg1:62.5em ;//1000px
$bp-md:50em;//800px 
$bp-sm:32em;//500px

html {
    box-sizing:border-box;
    font-size:62.5%;///10px/16px =62.5.-rem = 10px
    @media only screen and (max-width:$bp-lg) {
        font-size:50%;
    }
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}


body {
    font-family:$font_primary;
    color:$grey_dark_2;
    font-weight:300;
    line-height:1.6;
}

.container {
    display:grid;
      grid-template-rows:80vh min-content 40vw repeat(3,min-content); 
      grid-template-columns:  [sidebar-start] 8rem 
                           [sidebar-end full-start] minmax(6rem,1fr) 
                           [centero-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [centero-end] 
                           minmax(6rem,1fr) [full-end];

    @media only screen and (max-width:$bp-lg1) {
      grid-template-rows:6rem 80vh min-content 40vw repeat(3,min-content); 
      grid-template-columns: [ full-start] minmax(6rem,1fr) 
                           [centero-start] repeat(8, [col-start] minmax(min-content,14rem) [col-end]) [centero-end] 
                           minmax(6rem,1fr) [full-end];
    }

    @media only screen and (max-width:$bp-md) {
        grid-template-rows:6rem calc(100vh - 6rem) repeat(6,min-content); 
    }
}

 

 