.features {
     margin:15rem 0;

     @supports(display:grid) {
        grid-column: centero-start/centero-end;
        display:grid;
        grid-gap:6rem; 
        //responsiv trick
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        align-items:start;
     }
} 


.feature {
    // float:left;
    // width:33.33333;
    // margin-bottom:6rem;

    display:grid;
    grid-template-columns: min-content 1fr;
   // grid-row-end:1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        color:$primary;
        font-size:4rem;
        grid-row:1/span 2;
        transform:translateY(-1rem);
    }

    &__text {
        font-size:1.5rem;
    }
}