.sidebar {
    background-color:$primary;
    grid-column:sidebar-start/sidebar-end;
    grid-row:1/-1;
    display:flex;
    justify-content: center;

    @media only screen and (max-width:$bp-lg1) {
       grid-column:full-start/full-end;
       grid-row:1/2;
       justify-content:flex-start;
       align-items: center;
    }
}

.nav-btn {
    border:none;
    border-radius:0;
    background-color: #fff;
    height:2px;
    width:4.5rem;
    margin-top:4rem;

    @media only screen and (max-width:$bp-lg1) {
         margin-top:0;
         margin-left:1rem;
    }


    &::before,
    &::after {
        content:""; 
        background-color: #fff;
        height:2px;
        width:4.5rem;
       display:block;
    }

    &::before  {
       transform:translateY(-1.3rem);
    }

    &::after  {
        transform:translateY(1.3rem);
    }

}