.container {
    display:flex;
}

a {
    text-decoration:none;
    font-family:$base-font;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration:none;
    }

}

li {
    list-style:none;
}


.container {
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    
    padding-left:5rem;
    padding-right:5rem;
    padding-top:4.5rem;
}

.nav {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        &-image {
            width:5.4rem;
            height: 5.4rem;
            

            figure {
                width:100%;
                height:100%;
            }
        }

        &-text {
            margin-left:.5rem;
            font-size:4.5rem;
            font-weight:700;
            font-family: Montserrat ;
        }
    }

    &__link {
        flex-basis:70%;
        display:flex;
        justify-content: space-between;
        align-items: center;

        &__list {
            display:flex;
            flex-basis:60%;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right:2.2rem;

                a {
                    color:black;
                    font-weight:500;

                    &:hover {
                        color:$purple;
                    }
                }
            }
        }

        &__auth {
            flex-basis:25%;
            ul {
                display:flex;
                justify-content: space-between;
                align-items: center;

                li {
                    a {
                        color:black;
                         font-weight:500;
                        
                        &.link {
                            color:$base;
                            transition:all .2s;

                            &:hover { 
                                color:$base;
                                 background-color:#6600998c;
                            }
                        }

                        &:hover {
                            color:$purple;
                        }
                    }
                    
                }
            }
        }
    }
}


.content {
    display:flex;
    flex-grow:1;

    &__image {
        flex-basis:65%;
        // padding:4.1rem;

        figure {
            width:100%;
            height:90vh;

            img {
                width:100%;
                height:100%;
                // object-fit:center;
            }
        }
    }

    &__text {
        padding:6.5rem;
        flex-basis:30%;

        h1 {
            width: 90%;
            font-weight:700;
            font-size:3.6rem;
            line-height:5.5rem;
            
           font-family: Montserrat ;
        }

        p {
            width: 90%;
            font-size:1.6rem;
            font-weight:400;
            line-height:2.5rem;;
            padding-top:2rem;
            padding-bottom:2rem;
            font-family: Montserrat ;
        }
    }
}

.btn {
        background:#660099;
        border-radius: 50px;
        padding:1rem 2rem 1rem 2rem;;
        color:$base;
        font-weight: 500;
        font-size: 1.8rem; 
        transition:all .2s;
        outline:none;
        border:none;
        font-family: Montserrat ;
        cursor:pointer;
        transition:all .2s;

        &:hover {
            background-color:#6600998c;
        } 
}